@{
    ViewData["Title"] = "Home";
}

<div class="container text-center pt-2 pb-4">
    <div class="mb-4">
        <img src="/Images/logo.png"
             style="max-width:400px; width:100%; height:auto; margin-top:20px; margin-bottom:10px" />
    </div>

    <div class="row mt-4 mb-5 justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="p-4 shadow-sm rounded-4 h-100" style="background-color:#F0F8FF;">
                <h5>📍 Rainfall Data</h5>
                <p class="text-muted">
                    Enter geographic coordinates manually or select a location directly on an interactive map.
                    The system retrieves and displays detailed rainfall data based on the selected location,
                    helping users analyze precipitation patterns accurately.
                </p>
                <div class="mt-4">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="/Rainfall/Search" class="btn btn-primary btn-lg px-4">
                            Rainfall Data
                        </a>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="p-4 shadow-sm rounded-4 h-100" style="background-color:#F0F8FF;">
                <h5>🌧 Storm Event Detection</h5>
                <p class="text-muted">
                    Upload CSV datasets along with rainfall depth and duration parameters to identify storm events.
                    The application generates a visual bar chart of detected events and displays a satellite image
                    of the storm’s midpoint for deeper analysis and insight.
                </p>
                <div class="mt-4">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="/Storm/Index" class="btn btn-primary btn-lg px-4">
                            Storm Events
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>